:root {
    --dark: #27292c;
    --bright: #eeeeee;
    --link: #de5840;
    --background: #3d4549;
    --size: 500px;
}

body {
    background-color: var(--dark);
    font-family: monospace;
    color: var(--bright);
    display: flex;
    justify-content: center;
}

body a {
    color: var(--bright);
}

body a:hover {
    color: var(--link);
}

button {
    width: 100%;
}

.panel {
    border: 1px solid var(--bright);
    padding: 8px;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

#wrapper h1 {
    text-align: center;
}

#wrapper h2 {
    font-size: 14pt;
}

#wrapper p {
    text-align: center;
}

#columns {
    display: flex;
}

.column > .panel {
    margin: 4px;
}

#input {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

#input-left {
    display: flex;
    flex-direction: column;
    width: var(--size);
}

#input-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#input-message {
    position: absolute;
    padding: 16px;
    user-select: none;
}

#input-target {
    transition: .1s;
    background-color: var(--background);
}

#input-target.hover {
    background-color: var(--bright);
}

#input-target h2 {
    user-select: none;
}

#settings input {
    width: 64px;
}

#output {
    display: flex;
    flex-direction: column;
    width: var(--size);
}

#output button {
    margin-top: 4px;
}

#output-container {
    width: 100%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

#output-container canvas {
    background-color: var(--background);
    width: 100%;
    image-rendering: pixelated;
}

#preview-canvas {
    position: absolute;
}