:root {
    --dark: #27292c;
    --bright: #eeeeee;
    --link: #de5840;
}

body {
    background-color: var(--dark);
    font-family: monospace;
    color: var(--bright);
    display: flex;
    justify-content: center;
}

body a {
    color: var(--bright);
}

body a:hover {
    color: var(--link);
}

button {
    width: 100%;
}

.panel {
    border: 1px solid var(--bright);
    padding: 8px;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

#wrapper h1 {
    text-align: center;
}

#wrapper p {
    text-align: center;
}

#columns {
    display: flex;
}

.column > .panel {
    margin: 4px;
}

#input {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 16px;
}

#input-left {
    display: flex;
    align-items: flex-end;
}

#input-target {
    transition: .1s;
    border: 1px solid var(--bright);
}

#input-target.hover {
    background-color: var(--bright);
}

#input-target h2 {
    user-select: none;
}

#settings input {
    width: 64px;
}

#output {
    display: flex;
    flex-direction: column;
}

#output button {
    margin-top: 4px;
}

#output-container {
    max-width: 500px;
    max-height: 300px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

#output-container canvas {
    background-color: var(--bright);
}